Source: trac-accountldap
Section: web
Priority: optional
Build-Depends:
 debhelper (>= 9),
 python (>= 2.7.0 ),
 python-babel ( >= 2.3.0 ),
 python-setuptools
Maintainer: Andras Korn <korn-deb@elan.rulez.org>
Uploaders: Andras Korn <korn-deb@elan.rulez.org>
Standards-Version: 3.9.4
Homepage: http://trac-hacks.org/wiki/AccountLdapPlugin

Package: trac-accountldap
Architecture: all
Depends: ${shlibs:Depends},
 ${python:Depends},
 ${misc:Depends},
 python-genshi ( >= 0.5 ),
 python-pkg-resources,
 python-ldap,
 trac
Description: Automatically fetch user data from LDAP and store it in Trac database
 Adds option to trac web gui to change your password in LDAP. Also copies
 mail and name attribute from LDAP to the corresponding properties in Trac.
